@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: white;
    color: black;
}

header {
    position: sticky;
    display: flex;
    padding: 0.5em 10%;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    top: 0;
    /* transition: 0.2s ease-in-out; */
}
header.scrolled {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: inherit;
    z-index: 1;
}

.dropdown_menu{
  display: flex;
  box-shadow: none;
}

a {
    text-decoration: none;
    font-weight: 200;
    color: inherit;
}
a:visited {
    color: inherit;
}

.logo_brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_titles {
  font-weight: 500;
}

.toggle_btn {
  font-size: 1.4rem;
  display: none;
}


.dropdown_menu li {
  list-style: none;
}

/*************** INTRO SECTION + CONTENTS ***************/
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
    padding: 0 10%;
    object-fit: fill;
}

.welcome {
  font-weight: 500;
  font-size: 5vh;
}

#contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10%;
}

#contents ul {
  height: 20vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
}

/*************** PASSWORD GENERATOR SECTION ***************/
#pass-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 1% 10% 0;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 7% 0;
  flex-wrap: wrap;
}

.inputBox {
  position: relative;
}

.text_inputs {
  padding: 15px 20px;
  outline: none;
  background: inherit;
  border-radius: 5px;
  color: inherit;
  border: 1px solid;
  border-color: black;
  font-size: 1em;
}

.input_span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: white;
  letter-spacing: 1px;
  border: 1px solid;
  border-color: black;
}

.submit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.generate_pass {
  width: 20em;
  height: 3em;
  
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  --border-right: 6px;
  --text-stroke-color: rgb(0, 0, 0);
  --animation-color: rgb(0, 0, 0);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.night {
  --border-right: 6px;
  --text-stroke-color: rgb(0, 255, 0);
  --animation-color: rgb(0, 255, 0);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 5px 23px var(--animation-color))
}
/*************** DE(EN)CODER SECTION ***************/
#deencoder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 10%;
}

.deencoder_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 3%;
}

.deencoder_inputs {
  padding: 15px 20px;
  outline: none;
  background: inherit;
  border-radius: 5px;
  color: inherit;
  border: 1px solid;
  border-color: black;
  font-size: 1em;
  width: 35vw;
  height: 12em;
  resize: none;
}

/*************** JOIN US SECTION ***************/
#join_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 3% 10% 0 10%;
}

.joinUs_form {
  display: flex;
  flex-direction: column;
}

.name_email {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.forminputBox {
  position: relative;
  margin-top: 3%;
}

.form_inputs {
  padding: 15px 20px;
  outline: none;
  background: inherit;
  border-radius: 5px;
  color: inherit;
  border: 1px solid;
  border-color: black;
  font-size: 1em;
  width: 35vw;
  height: 2vh;
  resize: none;
}

.form_message {
  height: 4em;
}

.form_button {
  justify-content: left;
  margin-top: 2%;
}

/************* FOOTER SECTION *************/

footer {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  padding: 0 5em;
  font-size: 1.5em;
}
.follow {
  display: flex;
  justify-content: space-between;
}
.fa-facebook:hover {
  color: rgb(0, 94, 188);
}
.fa-instagram:hover {
  color: rgb(255, 133, 133);
}

footer .follow ul {
  list-style: none;
  display: flex;
  padding: 0;
}
li {
  margin: auto 1rem;
  cursor: pointer;
}

/*********** Night Mode toggler ***********/
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  visibility: hidden;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  transition: .4s;
  border: solid black 1px;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.2em;
  background-color: yellow;
  border: solid black 1px;
  transition: .4s;
}

.switch input:checked + .slider:before {
  background-color: black;
  border-radius: 50px;
  box-shadow: inset 9px 0px 1px 0px white;
}

.switch input:checked + .slider {
  background-color: black;
  border: solid rgb(0, 255, 0) 1px;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

/*************** RESPONSIVE DESIGN ***************/

@media (max-width: 1172px) {

  .dropdown_menu {
    display: none;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    position: absolute;
    top: 7em;
    right: 10%;
    height: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu.open {
    display: flex;
    padding: 10px 0;
    height: 12em;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .toggle_btn {
    display: block;
  }

  .deencoder_data {
    flex-direction: column;
    gap: 20px;
  }

  .deencoder_inputs {
    width: 68vw;
    height: 6em;
  }
}

@media (max-width: 953px) {
  .data {
    flex-direction: column;
    gap: 20px;
  }

  .text_inputs {
    width: 68vw;
  }
}

@media (max-width: 767px) {
  .logo_brand {
    height: 4em;
  }

  .logo_brand img {
    height: 3.5em;
  }

  .dropdown_menu {
    width: 92vw;
    top: 6em;
    left: 1em;
  }

  #pass-generator,
  #deencoder {
    padding-top: 2em;
  }

  #join_us {
    padding-top: 4em;
    height: fit-content;
  }

  .joinUs_form {
    gap: 20px;
  }

  .form_inputs {
    width: 68vw;
  }

  footer {
    padding: 0 1em;
    font-size: 0.8em;
  }
}