@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: white;
    color: black;
}

header {
    position: sticky;
    display: flex;
    padding: 1em 6em;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    top: 0;
    /* transition: 0.2s ease-in-out; */
}
header.scrolled {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: inherit;
    transition: 0.1s ease-in-out;
    z-index: 1;
}

header nav {
  display: flex;
  align-items: center;
}

a {
    text-decoration: none;
    font-weight: 200;
    color: inherit;
}
a:visited {
    color: inherit;
}

.logo_brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_but {
    margin-right: 2.5em;
}

/*************** INTRO SECTION + CONTENTS ***************/
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
    padding: 0 10%;
    object-fit: fill;
}

.welcome {
  font-weight: 500;
  font-size: 5vh;
}

#contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10%;
}

.contents-title {
  font-weight: 400;
}

#contents ul {
  height: 20vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
}

/*************** PASSWORD GENERATOR SECTION ***************/
#pass-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 10%;
}

#pass-generator h1 {
  font-weight: 500;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7% 0;
}

.inputBox {
  position: relative;
}

.text_inputs {
  padding: 15px 20px;
  outline: none;
  background: inherit;
  border-radius: 5px;
  color: inherit;
  border: 1px solid;
  border-color: black;
  font-size: 1em;
}

.input_span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: white;
  letter-spacing: 1px;
  border: 1px solid;
  border-color: black;
}

.submit_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate_pass {
  width: 20em;
  height: 3em;
  
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgb(0, 0, 0);
  --animation-color: rgb(0, 0, 0);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.night {
  --border-right: 6px;
  --text-stroke-color: rgb(0, 255, 0);
  --animation-color: rgb(0, 255, 0);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 5px 23px var(--animation-color))
}
/*************** DE(EN)CODER SECTION ***************/
#deencoder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 10%;
}

/*********** Night Mode toggler ***********/
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: black;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }